.project-item{
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: #3b3b3b;
    overflow: hidden;
}

.portfolio{
    margin-left: 2rem;
    margin-right: 2rem;
}

.project-details{
    margin: 1rem;
}

.on-time{
    border: #00cdf1 solid .125rem;
    border-top-left-radius: .5rem;
}

.attention{
    border: #9c7319 solid .125rem;
}

.late{
    border: #b80b0b solid .125rem;
}

.complete{
    border: #279219 solid .125rem;
}

.highlighter{
    /* width: max-content; */
    /* background-color: #b3481d; */
    background: linear-gradient(90deg, #813f23 0%, #813f23 75%, #3b3b3b00 100%);
    border-bottom-left-radius: .4rem;
    border-top-left-radius: .4rem;
    
}

.highlighter h2{
    margin-left: .75rem;
    margin-right: 33%;
    width: max-content;
}