.project-item{
    margin: 1rem auto;
    border-radius: .5rem;
    background-color: rgb(75, 76, 80);
}

.project-details{
    margin: 1rem;
}

.on-time{
    border: #2b89e2 solid .375rem;
}

.late{
    border: #ad1717 solid .375rem;
}

.complete{
    border: #40e22b solid .375rem;
}

.on-time .status-bar .active{
    height: 2rem;
    width: auto;
    background-color: #2b89e2;
    margin: 0;
}

.late .status-bar .active{
    height: 2rem;
    width: auto;
    background-color: #ad1717;
    margin: 0;
}

.complete .status-bar .active{
    height: 2rem;
    /* width: 33%; */
    background-color: #40e22b;
    margin: 0;
}

.status-bar{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.status-bar button{
    background-color: #5a544d;
    color: #efefef;
    border: inherit;
    font-size: 1.125rem;
}

/* .status-bar button:active, */
.status-bar button:hover,
.status-bar button:focus{
    /* background-color: #5a544d; */
    color: #efefef;
    border: none;
    outline: inherit;
    background-color: #3a2815a8;
}
