/* import Open Sans font to match the font used at criticalcoordination.com */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #f8f8f8;
  background-color: rgb(19, 19, 19);
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
  max-width: 60rem;
  margin: auto;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #7a371a;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #f56f34;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #df4c0d;
  text-decoration: none;
}

.btn:active{
  border-width: 3px 1px 1px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #f56f34;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #f56f34;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #df4c0d;
  color: #df4c0d;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #525252;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.editPanel {
  box-sizing: border-box;
  width: 1100px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #525252;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

table {
  border:none;
  border-collapse: collapse;
}

table td {

  padding-right: 15px;

}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}


/* --------------------------------------------------------------------------------
Menus
-------------------------------------------------------------------------------- */

.menu-hz-btn{
  height: 100%;
}

.menu-hz{
  height: 2rem;
}


/* --------------------------------------------------------------------------------
General Theme
-------------------------------------------------------------------------------- */


/* this orange color matches the orange on criticalcoordination.com */
.orange{
  background-color: #f56f34;
  color: white;
  padding: 1rem;

}

/* this gray color matches the gray on criticalcoordination.com */
.slate{
  background-color: #425564;
  color: white;
  padding: 1rem;
}

.paper{
  box-shadow: 1px 2px 6px 0px rgba(163, 163, 163, 0.83);
  padding: 1rem;
  color: #efefef;
  background-color: rgb(59, 59, 59);
  width: max-content;
}

.notched{
  /* css for notched corners taken from https://css-tricks.com/notched-boxes/ */
  /* this variable is the size of the notch */
  --notchSize: 1rem;
  /* clip-path shows whatever is inside the specified region. Everything else is hidden */
  clip-path: 
  /* the region is a polygon. 8 points are defined, one for each corner */
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      /* to keep corner sizes the same, the position is calculated as the 
      difference between the notch size (1rem), and the total length of the 
      side our point is on */
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
  /* 1rem of padding to more than account for the size of the notch */
    padding: 1rem;
}
